* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}
body {
  background: url('img/bgcarrot.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:repeat;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}
nav{
  margin-top: 2rem;
}
.btn_nav{
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

main {
  margin: 0 auto;
  width: 50vw;
  /* height: 50vh; */
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: white;
  position: relative;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  border-radius: 0.5rem;
}

h1 {
  font-size: 5rem;
}
button{
  text-align: center;
}
.socre_p {
  font-size: 2rem;
}
.option_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.option {
  border: 0.5rem solid white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.btn {
  width: 7rem;
  height: 3rem;
  /* padding: 1rem 2rem; */
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
}
.start {
  background-color: greenyellow;
}
.btn.stop {
  background-color: red;
}
.active {
  background: url('img/carrot.jpg');
  background-size: cover;
  background-position: center;
}
.correct{
  border: 0.5rem solid greenyellow;
}
.game_end{
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end_result{
  padding: 2rem;
  background-color: whitesmoke;
  height: min-content;
  width: 60vw;
  border-radius: 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.end_result div {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
  justify-content: start;
}

#btn_close_module{
  background-color: gray;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  opacity: 0.8;
  align-self: flex-end;

}
.end_img{
  width: 6rem;
  border-radius: 50%;
}
.end_img_rabbit{
  width: 6rem;
  border-radius: 50%;
}
.end_text{
  font-family: sans-serif;
  font-size: 1.2rem;
}
#end_score_id{
  font-size: 2rem;
  color: red;
}
.instraction{
  display: none;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  border-radius: 0.5rem;
  width: 50vw;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}
.imgRabbit{
  width: 100%;
}
.difficulty{
  display: none;
  grid-template-columns: 2fr 2fr 1fr ;
  background-color: white;
  border-radius: 0.5rem;
  width: 50vw;
  padding: 2rem;
  
}
.closeBtn {
  background-color: gray;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  opacity: 0.8;
  align-self:start;
  justify-self: end;
  margin-top: -1.5rem;
  margin-right: -1.5rem;
}
.display{
  display: grid;
}